* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: var(--black);
}

:root {
    --black: #333333;
    --white: white;
    --off-white: #e7e7e7;
    --light-grey: #b4b4b4;
    --grey: #808080;
    --red: #ff435b;
    --blue: #00efff;
}

header {
    width: 100%;
    height: 3.5rem;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: solid 0.1rem var(--off-white);
    display: block;
    background-color: white;
    z-index: 2;
}

#header_wrapper {
    display: flex;
    justify-content: space-between;
}

main {
    margin-top: 3.5rem;
    min-height: calc(100vh - 3.5rem);
    display: block;
}

.spacer {
    max-width: 1150px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    padding: 0rem 1rem 0rem 1rem;
}

.flex {
    display: flex;
}

.center_inside {
    justify-content: center;
    align-items: center;
}

.full_height {
    height: 100%;
}

.fit_width {
    width: max-content;
}

#header_icons {
    display: flex;

    gap: 1rem;
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
}

#search {
    /* background-color: var(--off-white); */
    background-color: transparent;
    border: none;
    border-right: 0.1rem solid var(--light-grey);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 15rem;
}

#search:focus-visible {
    outline: none;
    caret-color: var(--red);
}

#search_decorator {
    background-color: var(--off-white);
    padding: 0.3rem;
    border-radius: 100rem;
    display: flex;
    align-items: center;
}

#search_decorator:focus-within {
    border: 0.1rem solid var(--light-grey);
}

.search_icon {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.body_flex {
    position: relative;
}

.left {
    width: 356px;
    height: calc(100vh - 3.5rem);
    position: fixed;
    top: 3.5rem;
    overflow-y: scroll;
}

.right {
    width: calc(100% - 356px);
    margin-left: auto;
    padding-top: 1rem;
}

.link {
    border-radius: 0.3rem;
    padding: 0.7rem;
    transition: all 0.2s;
}

.link:hover {
    cursor: pointer;
    background-color: var(--off-white);
}

.selected * {
    color: var(--red);
}

.section {
    margin: 0rem 0.5rem 0rem 0.5rem;
    border-bottom: 0.1rem solid var(--off-white);
    padding: 1rem 0rem 1rem 0rem;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

.sec_label {
    color: var(--grey);
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.small_link {
    color: var(--red);
    font-size: 0.8rem;
    margin-top: 1rem;
}

.small_link:hover {
    cursor: pointer;
}

.account_card {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
    transition: all 0.2s;
}

.account_card:hover {
    cursor: pointer;
    background-color: var(--off-white);
}

.account_card .pic {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--blue);
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
}

.account_card .names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}

.account_card .username {
    font-size: 0.9rem;
}

.account_card .nickname {
    font-size: 0.7rem;
    color: var(--grey);
}

.gaps {
    gap: 1rem;
}

.card {
    padding: 1rem 0rem 1rem 0rem;
    border-bottom: 0.1rem solid var(--off-white);
    max-width: 675px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: max-content 1fr 1fr;
    gap: 1rem;
}

.card * {
    display: block;
    position: relative;
}

.card .pic {
    width: 3rem;
    height: 3rem;
    background-color: var(--red);
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
}

.card .reactions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.card .follow_button {
    width: max-content;
    margin-left: auto;
    padding: 0.3rem 1rem 0.3rem 1rem;
    color: var(--red);
    border: 0.1rem solid var(--red);
    border-radius: 0.3rem;
    align-self: flex-end;
    justify-self: flex-start;
    transition: all 0.2s;
}

.card .follow_button:hover {
    cursor: pointer;
    color: var(--white);
    background-color: var(--red);
}

.card .circle {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--off-white);
}

.card .react_holder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.3rem;
}

.card .reaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

.card .row {
    display: flex;
    align-items: flex-end;
    gap: 0.3rem;
}

.card .react_holder b {
    width: max-content;
    font-size: 0.7rem;
}

.card .nickname {
    font-size: 0.8rem;
}

.card .hash {
    font-size: 0.8rem;
    display: flex;
    gap: 0.3rem;
}

.card .tag:hover {
    cursor: pointer;
}

.card .post {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card .post_content {
    width: 100%;
    min-height: 20rem;
    border-radius: 0.5rem;
    background: linear-gradient(45deg, var(--blue) 0%, var(--red) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.card .post_content * {
    color: var(--white);
}
